
.slider {
    margin:1.5rem auto 2rem;

    position: relative;


    width: 100%;
    height: 60rem;

     display: flex;
    overflow: hidden;


    .slide {
 
        position:relative;
        width: 100%;
        height: 100%;
        overflow:hidden;
        transition: .5s;
         display: grid;
    
         .bContainer{
            overflow:hidden;
        
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            .cover {
                background-color: rgba(0, 0, 0, 0.246);
                 // background-color: rgba(0, 0, 0, 0.335);
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 background-position: center;
                 z-index: 200;
                 position: absolute;
             }
             
        
            .imgStyles {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-position: center;
                z-index: 199;
                position: absolute;
            
            }




            .bannerTitle {
                z-index: 400;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                // min-width: 2rem;
                // max-width: 100%;
                
            
                margin: 0 2rem;
                // position: relative;
            
                h1{
            
             //! ADD FONT SIZE HERE
             font-size: var(--xxl);
                }
                
                h3 {
                
                    font-size: var(--xxl);
                  //! ADD FONT SIZE HERE
                }
            }
            
            }
    
    }

}



//1200px
// @media (max-width: 75rem) {
//     .slider {
//         margin:2rem 2rem;
//     }
    
// }


