*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    /* // font-family: 'Oswald', sans-serif; */
    /* // font-family: 'Raleway', sans-serif; */
     font-family: 'Open Sans', sans-serif;
     /* font-family: 'Lato', sans-serif; */
    background-color: var(--mainWhite);
    position:relative;
    top:5rem;
}




:root {
    --hoverColor: rgba(0, 0, 0, 0.196);
    --hoverColor2: #ac9d6732;
    --lightBlack: #242526;
    --black: #1c1b1b;
    --grey: #484a4d;
    --lightGrey:  #afafaf;
    --mainBlue: #2a2a72;
    /* --lightBlue: #009ffd; */
    --blue: rgba(38, 142, 228, 0.5);
    --darkBlue: #2199df;
    --lightBlue: #50a4e9;
    --mainWhite: #ececec;
    --mainDark: #232528;
    --orange: orange;
    --red:  rgb(134, 11, 11);
    --red2: #c04000;
    --formWhite: #949494;
    --form: #fbfbfb;

    /* font  */
    --sm: 1.1rem;
    --md: 1.5rem;
    --lg: 1.7rem;
    --xl: 2rem;
    --xxl: 2.5rem;
    --xxxl: 4rem;

}


/* *?Glboal styles */
button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    list-style: none;
    }




    
  ul {
    list-style: none;

  }