*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    /* // font-family: 'Oswald', sans-serif; */
    /* // font-family: 'Raleway', sans-serif; */
     font-family: 'Open Sans', sans-serif;
     /* font-family: 'Lato', sans-serif; */
    background-color: var(--mainWhite);
    position:relative;
    top:5rem;
}




:root {
    
    --contender2-black: #1c1b1b;/* todo CONTENDER */
    --contender1-black:  rgb(34, 34, 34);  /* todo CONTENDER */
    --contender3-black: #232528;/* todo CONTENDER */
    
    --ratingColor: rgb(246, 90, 0); /* *NEW */
    
    --borderColor: #dadada; /* *NEW */
    --boxShadow: rgba(41, 48, 55, 0.09); /* *NEW */
    
    --hoverColor: rgba(0, 0, 0, 0.196); /* !used often */
    --light-tint: rgba(0, 0, 0, 0.186); /* ? tint */
    --dark-tint: rgba(0, 0, 0, 0.246); /* ? tint */
    /* --darker-tint: rgba(0, 0, 0, 0.286); ? tint */
    --darkest-tint: rgba(0, 0, 0, 0.596);/* ? mobile nav tint */

    --table: #484a4d; /* *NEW Table */
    --formDark: #949494;/* *NEW Inputs */
    --form: #fbfbfb;/* *NEW Inputs */
    --inputShadow: rgba(38, 142, 228, 0.5);
    --inputBorder: #50a4e9;


    --navFontHover: #afafaf; /* ? mobile nav font */


    --lightGrey:  #afafaf; /* todo CONTENDER, but not being used */

    /* --lightBlue: #009ffd; */

    --mainWhite: #ececec; /* !used often */

    --red:  rgb(134, 11, 11); /* !used often */


    /* font  */
    --sm: 1.2rem;
    --md: 1.5rem;
    --lg: 1.7rem;
    --xl: 2rem;
    --xxl: 2.5rem;
    --xx1l: 3.3rem;
    --xxxl: 4rem;

}


/* *?Glboal styles */
button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    list-style: none;
    }




    
  ul {
    list-style: none;

  }