//! container 

.pageContainer {
  margin: 6rem auto 0 auto;

  .title {
    margin: 6rem 0;
  }

  .titleWrapper {
    margin: 4.5rem auto 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  //! ADD FONT SIZE HERE
    font-size: var(--xxl);
    padding-bottom: 1rem;
  }

  .filterTableWrapper {
    padding: 0 2rem;
    max-width: 110rem;
    margin: 6rem auto 0 auto;

    .filterWrapper {
      display: flex;
      align-content: space-between;
      justify-content: space-between;
      margin-bottom: 5rem;

    }


    .tableWrapper {


      overflow-x: auto;
      min-height: 50vh;
      // margin-top: 6rem;

      .table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        thead tr th{
          /* text-transform: uppercase;
          text-align: center; */
          //! ADD FONT SIZE HERE
          font-size: var(--md);
          text-align: left;
        }  

        tr td,
        tr th {
          border: 0.1rem solid var(--borderColor);
          padding: 0.5rem;
          
        }
        td a {
          text-decoration: none;
          font-size: var(--sm);
        }

        tbody > tr:nth-child(odd) {
       
          background-color: var(--table);
        }  
        
        tbody > tr:nth-child(odd) > td a {
          color: var(--mainWhite);
        
        }  
  
        tbody > tr:nth-child(even) > td a {
          color: var(---contender3-black);
        
        }  

        tbody tr > td:last-child {
  
          padding: 0;
         
          display: flex;
          flex-wrap: nowrap;
        }
        tbody tr > td button:first-child {

          margin-right: .3rem;
        }

      }
    }




  }



}




//! buttons
.button {
  border: 1px solid transparent;
  width: 100%;

    z-index: 3;
    // width: 6rem;
    text-align: center;
    // border-radius: .5rem;
    cursor:pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--sm);
    background-color:var(--contender3-black);
    color: var(--mainWhite);
    padding: 1rem 3rem;
    transition: all 250ms ease-out;

    &:hover {
      border: 1px solid var(--contender3-black);
        color:var(--contender3-black);
        background:var(--mainWhite);



    }
}

.buttonWrapper {
  display: flex;

  li:first-child {
    margin-right: 1rem;
  }
  
  button {
    margin: 5rem 0;
    width: auto;
  }
}




//! input text 

/* //? form */
.form {
  max-width: 110rem;
  margin: auto;
  padding: 0 2rem;


  h2 {
    font-size: var(--xl);
  }

  h3 {
    font-size: var(--md);
  }

  p{
    font-size: var(--md);
  }

  .formWrapper {

    .alignCenter{
      align-items: center;
    }

  
       .lineFlex {
      //  background-color: blue;
         width: 100%;
         display: flex;
        //  justify-content: space-between;
         align-content: center;
         margin-bottom: 2rem;
        //  flex-wrap: nowrap;
        .button {
          height: 4rem;
          border-radius: 8px;
          width: auto;
        }
        .btnDel {
          border: 1px solid transparent;
          // background-color:rgb(158, 6, 6);
          background-color: var(--red);
          color: var(--mainWhite);
          //! ADD FONT SIZE HERE
          font-size: var(--md);
          font-weight: bold;

          &:hover {
            border: 1px solid var(--contender3-black);
            color:var(--contender3-black);
            background:var(--mainWhite);
          }
        }
        
        .btnAdd {
          display: flex;
          align-items: center;
          //! ADD FONT SIZE HERE
          font-size: var(--xxl);
          font-weight: bold;
          margin:0 .5rem;
          padding: 0 1.1rem;
          border-radius: 50%;
        }

       }
       .formMargin {
         margin: 5rem 0 1rem;
       }

       .checkWrapper {
         margin: 5rem 0 1rem;
         width: 30rem; //!media query
        display: flex;
        justify-content: space-between;

        .checkFlex {
          display: flex;
          input {
            margin-right:.5rem
          }
        }
       }
    
  }

  .buttonSize {
    // margin: 5rem 0;
    width: auto;
  }
  
}
.form label,
.form input {
  display: block;
}
.form input {
  margin-bottom: 1.1rem;
}
.form label {
  margin-bottom: 0.2rem;
}
.form input[type="text"],
.form textarea {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid var(--formDark);
  border-radius: 8px;
  background-color: var(--form);

}

.form input[type="text"] {
  min-height: 3rem;
}

.form textarea {
  min-height: 10rem;
 
}
.form input:focus,
.form textarea:focus {
  border: 1px solid var(--inputBorder);
  box-shadow: inset 0px 0px 5px var(--inputShadow);
  outline: none;
}
.form input[type="submit"] {
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--table);
  border-radius: 8px;
  background-color:var(--red);
  color: var(--mainWhite);

  transition: all .2s ease;
}


.form input[type="submit"]:hover {
  border: 1px solid var(--table);
  color: var(--red);
  background-color: var(--mainWhite);
}












